@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #227B94;
  --fonts-color: #FFDC7F;
  --button-colors: #16325B;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--fonts-color);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
}
