.text {
  color: var(--fonts-color);
  font-size: 16px;
  line-height: 1.5;
}

.submit {
  background-color: var(--button-colors);
  padding: 8px 16px;
  color: var(--fonts-color);
  font-weight: bolder;
  border-radius: 4px;
}